.container {
    object-position: center;
    border-collapse: separate;
    border-spacing: 15px;
}
.card{
    object-position: center;
    border-collapse: separate;
    border-spacing: 15px;
}
#thicc{
    background: indianred;
}
